@font-face {
font-family: 'Diavlo Black Regular';
font-style: normal;
font-weight: normal;
src: local('Diavlo Black Regular'), url('Diavlo_BLACK_II_37.woff') format('woff');
}
h1{
font-family:'Diavlo Black Regular';
color:light-grey;
}
body{
  margin:70px;
  background-image:linear-gradient(to right, rgb(30, 166, 176), rgb(169, 232, 159));
}
